/* Your code here */

/* ==================== */
/* Problem 1 */
body {
	background-color: #efefef;
}

fieldset {
	background-color: white;
}

/* ==================== */
/* Problem 2 */
.orange-box {
	width: 40px;
	height: 40px;
	background-color: orange;
	position: absolute;
	top: -40px;
	box-sizing: border-box;
}

.blue-box {
	width: 40px;
	height: 40px;
	background-color: blue;
	position: absolute;
	box-sizing: border-box;
}

.outer-layer-2 {
	/* display: flex;
	flex-direction: column-reverse; */
	position: relative;
}

/* ==================== */
/* Problem 3 */
.outer-layer-3 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* ==================== */
/* Problem 4 */
.outer-layer-4 p + p {
	color: orange;
}

/* ==================== */
/* Problem 5 */

/* Solution 1 */
/* .inner-layer-5 {
	grid-column: 2 / 6;

} */

/* Example for multiple rows */
/* .inner-layer-5 {
    Note: This is what you need if you need more than 1 row
    This portion is just an example
	grid-column: 2 / 6;
	grid-row: 1 / 3;
} */

/* Example 2 */
/* .inner-layer-5 {
	grid-column: 2 / span 3;
} */

/* Solution 3 */
.outer-layer-5 {
	display: grid;
	grid-template-areas:
		". bb bb bb bb"
		". . . . .";
}

.inner-layer-5 {
	grid-area: bb;
}

/* ==================== */
/* Problem 6 */
.outer-layer-6 {
	box-shadow: 0 0 4px rgba(0, 0, 255, 0.6);
}

/* ==================== */
/* .outer-layer-7 {
	overflow: auto;
} */

.outer-layer-7 {
	overflow-x: hidden;
	overflow-y: scroll;
}

/* ==================== */
/* Problem 8 */

.uppercase.bold {
	font-family: "Courier New", Courier, monospace;
}
